.finished-dish {
  height: auto;
  width: 300px;
}

h1,
h2,
.content {
  font-family: Verdana, "Times New Roman", serif;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

.content {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

body {
  background-color: #808080;
}

.home {
  text-align: center;
}