.finished-dish {
  height: auto;
  width: 300px;
}

h1,
h2 {
  font-family: Verdana, "Times New Roman", serif;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}